@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.ttf");
}

.redesSociales{
  font-family: "fontello";
  font-size: 30px;
  margin-right: 5px;
}

.cabecera{
  background-color: rgb(223, 225, 226);
  min-height: 10vh;
}

.cabecera a{
  color: black;
}

.btn-secundary{
  background-color: rgb(37, 104, 166);
}

.btn-secundary:hover{
  background-color: rgb(30, 85, 135);
}

.align-bottom{
  height: 100% !important;
}

.fondoGris{
  background-color: grey;
}

.articulos{
  background-color: rgb(18, 44, 68);
}

.articulo{
  background-color: rgb(191, 221, 249);
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.imgArt{
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.textoArticulo{
  padding: 10px;
}

.card{
  margin-top: 5px;
}

.icono{
  font-family: "fontello";
  font-size: 25px;
  margin-right: 10px;
  margin-left: 30px;
}

.iconoInpunt{
  font-family: "fontello";
  font-size: 15px;
}

.bloquebusqueda{
  padding: 10px;
  background-color: rgb(245, 247, 245);
  margin-bottom: 5px;
}

.busqueda{
  height: 85px;
}

.azul{
  background-color: cyan;
}

.rojo{
  background-color: pink;
}
